<!DOCTYPE html>
<html>
<head>
  <title>Content Length 201 Debug</title>
  <%= csrf_meta_tag %>
</head>
<body>
<p><%= link_to "Ajax Post", '#', :id => 'create' %></p>
<%= yield %>
<%= javascript_include_tag "jquery", "rails", "application" %>
</body>
</html>
